.button-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.write-review-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.8);
}

.write-review-modal {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202023;
  padding: 14px 28px;
  width: 700px;
  height: 400px;
}

.write-review {
  background-color: #414448;
  width: 680px;
  border-radius: 5px;
}

.write-review form {
  display: flex;
  flex-direction: column;
}

.write-review form label {
  margin: 10px 20px 5px;
}

.write-review form input {
  height: 40px;
  margin: 10px 20px;
  border-radius: 5px;
  border: none;
}

.write-review form textarea {
  height: 80px;
  margin: 5px 20px;
  border-radius: 5px;
  font-family: "Arial";
}

.publish-button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  background-color: #ff4655;
  color: #ffffff;
}

.close-write-review {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}
