.games-container {
  margin: 0 auto;
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid white; */
}

.games-bloc {
  /* border: 1px solid red; */
}

.games-item {
  /* border: 1px solid blue; */
  width: 200px;
  height: 300px;
  margin: 40px;
}

.games-item img {
  object-fit: cover;
  width: 200px;
  height: 300px;
}
