.header-container {
  margin: 0 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 5rem;
  cursor: pointer;
}

.line {
  width: 100vw;
  height: 0.1vh;
  background-color: #ff4655;
  margin-bottom: 3rem;
}
