.header-container {
  margin: 0 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.header-logo {
  height: 5rem;
  cursor: pointer;
}

/* BUTTONS */

.header-button {
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 1em;
  margin: 0.8rem;
}

.collection-button {
  background: none;
}

.log-button {
  cursor: pointer;
  background-color: #ff4655;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.button-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

/* USERPROFIL */

.profil-container {
  display: flex;
  align-items: center;
}

.profil-container img {
  object-fit: cover;
}

.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.line {
  width: 100vw;
  height: 0.1vh;
  background-color: #ff4655;
  margin-bottom: 3rem;
}
