main {
  width: 1440px;
  margin: 0 auto;
}

/* DETAILS GAME SECTION */

h3 {
  margin: 8px 0;
}

.global-container {
  border: 1px solid red;
  display: flex;
  /* align-items: center; */
}

.global-container img {
  width: 700px;
  border-radius: 10px;
}

.picture-container {
  width: 50%;
}

.informations-container {
  border: 1px solid yellow;
  margin-left: 30px;
}

.button-container button:last-child {
  margin-left: 30px;
}

.game-button {
  height: 70px;
  background-color: #202023;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.details-container {
  border: 1px solid green;
  display: flex;
}

.flex-section > div {
  border: 1px solid salmon;
}

.flex-section > div:first-child {
  width: 330px;
}

/* span {
  border: 1px solid red;
} */

.game-description {
  border: 1px solid blue;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/* SIMILAR GAMES SECTION */

.similar-game-container {
  border: 1px solid red;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  /* justify-content: center; */
}

.similar-game-item {
  position: relative;
}

.similar-game-item:not(:first-child) {
  border: 1px solid green;
  margin-left: 20px;
}

.similar-game-item img {
  object-fit: cover;
  height: 350px;
  width: 250px;
  border-radius: 5px;
}

.similar-game-picture-shadowone {
  height: 150px;
  width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(32, 32, 32, 0), rgba(32, 32, 32, 0.5));
}

.similar-game-picture-shadowtwo {
  height: 120px;
  width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(32, 32, 32, 0.1), rgba(32, 32, 32, 1));
}

.title-similar-game {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
