main {
  width: 1440px;
  margin: 0 auto;
}

/* DETAILS GAME SECTION */

h3 {
  margin: 8px 0;
}

.game-detail-container {
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 2rem;
}

.game-detail-container img {
  height: 25rem;
  width: 45rem;
  border-radius: 10px;
}

.picture-container {
  width: 50%;
}

.informations-container {
  /* border: 1px solid yellow; */
  margin-left: 1.8rem;
}

.button-container {
  display: flex;
}

.button-container button:last-child {
  margin-left: 1.8rem;
}

.game-button {
  cursor: pointer;
  height: 4.5rem;
  background-color: #202023;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.game-button span {
  margin-left: 8px;
}

.details-container {
  /* border: 1px solid green; */
  display: flex;
  margin-bottom: 5px;
}

.details-container span {
  font-size: 1em;
}

/* .flex-section > div {
  border: 1px solid salmon;
} */

.flex-section > div:first-child {
  width: 330px;
}

.game-description {
  /* border: 1px solid blue; */
  height: 8.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow-y: scroll;
}

/* SIMILAR GAMES SECTION */

.similar-game-container {
  border: 1px solid red;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  margin-bottom: 2rem;
}

.similar-game-item {
  position: relative;
}

.similar-game-item:not(:first-child) {
  border: 1px solid green;
  margin-left: 1.5rem;
}

.similar-game-item img {
  object-fit: cover;
  width: 15rem;
  height: 19rem;
  border-radius: 5px;
}

.similar-game-picture-shadow {
  height: 7.5rem;
  width: 15.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(32, 32, 32, 0),
    rgba(32, 32, 32, 0.8),
    rgba(32, 32, 32, 1),
    rgba(32, 32, 32, 1)
  );
}

.title-similar-game {
  position: absolute;
  bottom: 0.6rem;
  left: 0.9rem;
}
