.filters-container {
  width: calc(90rem - 3rem);
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-container select {
  margin: 0 0.8rem;
}

.filter-button {
  color: #ffffff;
  border: none;
  background-color: #ff4655;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-size: 0.9em;
}
